<div class="jumbotron text-center">
  <div ng-class="{hidden: $ctrl.selectedGolfIndex != null}">Loading...</div>
  <form class="text-center" ng-class="{hidden: $ctrl.selectedGolfIndex == null}">
    
    <div class="form-group" ng-class="{hidden: $ctrl.selectedGolfIndex != 0}">
      <label for="selectGolf">Select a golf</label><br/>
      <input class="form-control" type="text" id="selectGolf" >
    </div>
    
    <div class="form-group" ng-class="{hidden: $ctrl.selectedGolfIndex == 0}">
      {{$ctrl.selectedGolfClub.name}} <em><a ng-click="$ctrl.resetSelectedGolfIndex()">edit</a></em><br/>
      <label for="selectGolf">Select a course</label><br/>
       <a class="btn btn-default" ng-class="{active: $ctrl.selectedCourse.code === course.code}" ng-repeat="course in $ctrl.golfCourses" ng-click="$ctrl.updateGolfCourseService(course.code)">{{course.name}}</a> 
    </div>
    
  </form>
  
</div>
