<div class="">

  <div class="page-header text-center">
    <!--
    <h1>Search for a golf</h1> -->
    <h1>Sélection du golf</h1>
  </div>

  <div class="alert alert-info text-center" role="alert" ng-if="!$ctrl.golfsListReady">
  Mise à jour des parcours des golfs<br/>Connexion en cours...
  </div>

  <div ng-if="$ctrl.golfsILScount > 0">
    
    <div class="btn-group pull-right" role="group">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Golfs favoris
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li ng-repeat="golf in $ctrl.golfsInLocalStorage">
          <a ng-click="$ctrl.setGolfClub(golf)">{{golf.name}}</a>
        </li>
      </ul>
    </div>
    
  </div>

  <div class="form-group form-group-lg" ng-class="{hidden: !$ctrl.golfsListReady}">
    <input class="form-control" type="text" id="searchGolf" ng-model="$ctrl.golfClub.name" placeholder="Entrer le nom du golf"/>
  </div>

  <div class="clearfix">
    <a href="/#!/players"
       class="btn btn-success btn-block"
       ng-repeat="course in $ctrl.golfClub.terrains"
       ng-class="{active: course.code == $ctrl.golfCourse.code}"
       ng-click="$ctrl.submit(course.code)">
        {{course.name}}
    </a>
  </div>
  
  
</div>
