<h1>Golf Score Card</h1>
<div>Golf : {{$ctrl.items[0].golf.name}}</div>
<div>Parcours : {{$ctrl.items[0].parcours.name}}</div>
<div>Tee : {{$ctrl.items[0].tee.color}}</div>
<div>Index : {{$ctrl.items[0].index}}</div>
<div class="table-responsive">
  <table class="table table-striped table-condensed">
    <thead>
      <tr>
        <th>Trou</th>
        <th ng-repeat="hole in $ctrl.holes">
          {{hole.num}}
        </th>
        <th>
          TOTAL
        </th>
      </tr>
      <tr>
        <td>Par</td>
        <td ng-repeat="hole in $ctrl.holes">
          {{hole.par}}
        </td>
        <td>{{$ctrl.parTotal}}</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Score</td>
        <td ng-repeat="hole in $ctrl.holes">
          <input type="number" ng-model="hole.score" ng-change="$ctrl.total()" size=2 max=10 min=0 />
        </td>
        <td>
        {{$ctrl.score}}
        </td>
      </tr>
    </tbody>
  </table>
</div>

<a class="btn btn-default" href="/#!/">Back</a>
